body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    
    height: 100vh;
}
.navbar{
  border: solid #41668a;
  background-color:  #41668a;
  font-size: 20px;
}
header {
    background-color: #41668a;
    color: white;
    padding: 1vw;
    font-size: 2vw;
    font-weight: 900; 
  }
  .grid-container{
    background-image: url(./Background\ Mario\ Wallpaper\ -\ EnWallpaper.jpg); 
    background-repeat: no-repeat;
    background-size: 100vw ;
    display: grid;
    /* grid-template-columns: 20% repeat(2,40%); to break */
    color: #28dca7;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } 
  footer{
        background-color: #41668a;
        color: white;
        padding: 1vw;
        font-size: 2vw;
        font-weight: 900;
        text-align: center;
        flex: 0 0 auto;
      }
    