
.navbar{
  border: solid #41668a;
  background-color:  #41668a;
  font-size: 20px;
}
.grid-container{
  padding-top: 5%;
  padding-bottom: 15%;
  background-image: url(./); 
  background-repeat: no-repeat;
  background-size:cover;
  display: grid;
  /* grid-template-columns: 20% repeat(2,40%); to break */
  color: #28dca7;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5%;
} 
.grid-container .col11{
  width: 20vw;
  height: 30vh;
}

  footer {
    background-color: #41668a;
    color: white;
  }
  
  footer {
    color: white;
    font-size: 50px;
    z-index: 0;
  }
  
  footer .logo {
    padding: 1vw;
    font-size: 2vw;
    font-weight: 900;
    color: white;
    text-align: center;
  }
