html, body{
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}
.navbar{
  border: solid #41668a;
  background-color:  #41668a;
  font-size: 20px;
}

 .flex-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
} 

.grid-container{
  
  padding-top: 7%;
  padding-bottom: 15%;
  background-image: url(./ocean.jpg); 
  background-repeat: no-repeat;
  background-size:cover;
  display: grid;
  /* grid-template-columns: 20% repeat(2,40%); to break */
  color: #28dca7;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5%;
  text-align: center;
} 
.grid-container .col11{
  width: 20vw;
  height: 30vh;
}


  
  footer {
    color: white;
    font-size: 50px;
    background-color: #41668a;
    /* flex: 0 0 auto; */

  }
  
  footer .logo {
    padding: 1vw;
    font-size: 2vw;
    font-weight: 900;
    color: white;
    text-align: center;
  }
