.carousel-item img{
    height: 80vh;
   min-width: 10vw;
   width: 70vw;
   
}
.carousel-item{
    text-align: center;
}

.carousel-inner img{
    display:inline-block  !important;
    }

.panel{
    background-color: black;
    opacity: 1;
}
.grid-container{
  background-image: url(./Manette\ xbox\ 360\ !.jpg);
  background-repeat: no-repeat;
  background-size: 100vw ;
  display: grid;
  grid-template-columns: 20% repeat(2,40%);
} 
footer {
    background-color: #41668a;
    color: white;
  }
  
  footer {
    color: white;
    font-size: 50px;
    z-index: 0;
  }
  
  footer .logo {
    padding: 1vw;
    font-size: 2vw;
    font-weight: 900;
    color: white;
    text-align: center;
  }
  .grid-container .col21{
    background-image: url("./gamersassembly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 70vh;
    justify-self: end;
  }
  .grid-container .col22{
    background-image: url("./esports.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 70vh;
    justify-self: start;
  }
  
  .grid-container .col31{
    background-image: url("./VR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    justify-self: end;
    margin-top: 10px;
  }
  
  .grid-container .col32{
    background-color: white;
    text-align:justify;
    width: 100%;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 70vh;
    margin-top: 10px;
  }
  .grid-container .col42{
    background-image: url("./collectionner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    justify-self: start;
  }
  .grid-container .col41{
    text-align: center; color: #e9e9e9;
    padding-top: 10vh;
    background-color: #808080;
    height: 70vh;
    width: 100%;
    text-align:justify;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;  
  }
  .grid-container .col51{
    background-image: url("./collectiongaming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    justify-self: end;
  }
  .grid-container .col52{
    background-color: white;
    text-align: center;
    padding-top: 10vh;
    background-color: white;
    text-align:justify;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 70vh;
  } 


