body{
  background-image: url(./GraphicLab\ Tees.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%;
}
.navbar{
  border: solid #41668a;
  background-color:  #41668a;
  font-size: 20px;
}
.grid-container{
  /* background-image: url(./are\ you\ player.jpg); */
  background-repeat: no-repeat;
  background-size: 100vw ;
  display: grid;
  /* grid-template-columns: 20% repeat(2,40%); break */
  color: rgb(162, 104, 202);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
} 
.grid-container .col11{
  background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
.grid-container .col12{
  background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
.grid-container .col13{
  background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col21{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col22{
    background-image: url("./");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 50vh;
    justify-self: center;
  }
  .grid-container .col23{
    background-image: url("./");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 50vh;
    justify-self: center;
  }
  .grid-container .col31{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  
  .grid-container .col32{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col33{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col41{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col42{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  .grid-container .col43{
    background-image: url("./");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 50vh;
  justify-self: center;
}
  /* .grid-container .col52{
    background-color: white;
    text-align: center;
    padding-top: 10vh;
    background-color: white;
    text-align:justify;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 70vh;
  }  */
  

  footer {
    color: white;
    background-color: #41668a;
    font-size: 50px;
  }
  
  footer .logo {
    padding: 1vw;
    font-size: 2vw;
    font-weight: 900;
    color: white;
    text-align: center;
  }
